In [4]:
import pandas as pd
import numpy as np

In [100]:
data_in = pd.read_table('/Users/Administrator/Documents/Work/pylearn/Bayes/smsspamcollection/SMSSpamCollection',
                        sep='\t',
                        names = ['label','sms_message'])
# data_np = np.array(data_in)

In [99]:
# data_in_01Target = data_in
# data_in_01Target['label_01'] = np.where(data_in_01Target['label'] == 'spam',1,0)
# data_in_01Target

     label                                        sms_message  label_01
0      ham  Go until jurong point, crazy.. Available only ...         0
1      ham                      Ok lar... Joking wif u oni...         0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...         1
3      ham  U dun say so early hor... U c already then say...         0
4      ham  Nah I don't think he goes to usf, he lives aro...         0
...    ...                                                ...       ...
5567  spam  This is the 2nd time we have tried 2 contact u...         1
5568   ham               Will ü b going to esplanade fr home?         0
5569   ham  Pity, * was in mood for that. So...any other s...         0
5570   ham  The guy did some bitching but I acted like i'd...         0
5571   ham                         Rofl. Its true to its name         0

[5572 rows x 3 columns]

In [26]:
print('data_in is: ',type(data_in))
# print('data_np is: ',type(data_np))

data_in is:  <class 'pandas.core.frame.DataFrame'>

In [27]:
# data_np_1 = np.hstack((data_np,np.zeros((len(data_np),1))))

In [28]:
### Filter records corresponding to spam
# data_in.loc[data_in['sms_label'] == 'spam']

In [29]:
# data_in.loc[data_in['label'] == 'spam','sms_label_01'] = 1
# data_in.loc[data_in['label'] == 'ham' ,'sms_label_01'] = 0

In [30]:
# data_in

In [31]:
# help(map)

In [101]:
data_in['label'] = data_in.label.map({'ham': 0, 'spam': 1})

In [102]:
data_in

      label                                        sms_message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567      1  This is the 2nd time we have tried 2 contact u...
5568      0               Will ü b going to esplanade fr home?
5569      0  Pity, * was in mood for that. So...any other s...
5570      0  The guy did some bitching but I acted like i'd...
5571      0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
# BAG OF WORDS

In [13]:
documents = ['Hello, how are you!',
             'Win money, win from home.',
             'Call me now.',
             'Hello, Call hello you tomorrow?']

In [124]:
# Set to lowercase
lower_case_documents = []
for i in documents:
    i_before = i
    i = i.lower()
    print('from: ',i_before,', to: ',i)
    lower_case_documents.append(i)
print(lower_case_documents)

from:  Hello, how are you! , to:  hello, how are you!
from:  Win money, win from home. , to:  win money, win from home.
from:  Call me now. , to:  call me now.
from:  Hello, Call hello you tomorrow? , to:  hello, call hello you tomorrow?
['hello, how are you!', 'win money, win from home.', 'call me now.', 'hello, call hello you tomorrow?']

In [125]:
# help(split())

In [167]:
### Remove punctuation

import string
sans_punctuation_documents = []
for i in lower_case_documents:
    i_before = i
    i = re.split('!|,|\?| ',i)
#     x = [for i != '', ]
    i = [i for i in i if i != '']

    print('from: ',i_before,', to: ',i)
    sans_punctuation_documents.append(i)
sans_punctuation_documents = sans_punctuation_documents

from:  hello, how are you! , to:  ['hello', 'how', 'are', 'you']
from:  win money, win from home. , to:  ['win', 'money', 'win', 'from', 'home.']
from:  call me now. , to:  ['call', 'me', 'now.']
from:  hello, call hello you tomorrow? , to:  ['hello', 'call', 'hello', 'you', 'tomorrow']

In [169]:
sans_punctuation_documents

[['hello', 'how', 'are', 'you'],
 ['win', 'money', 'win', 'from', 'home.'],
 ['call', 'me', 'now.'],
 ['hello', 'call', 'hello', 'you', 'tomorrow']]

In [170]:
preprocessed_documents = sans_punctuation_documents
preprocessed_documents

[['hello', 'how', 'are', 'you'],
 ['win', 'money', 'win', 'from', 'home.'],
 ['call', 'me', 'now.'],
 ['hello', 'call', 'hello', 'you', 'tomorrow']]

In [156]:
### Separate words 

# preprocessed_documents = []
# for i in sans_punctuation_documents:
#     i_before = i
#     i = re.split('!',i)
#     print('from ',i_before,', to ',i)
#     preprocessed_documents.append(i)

In [178]:
# help(collections.Counter())

In [192]:
# help(pprint)

In [193]:
frequency_list = []
import pprint
from collections import Counter

for i in preprocessed_documents:
    x = collections.Counter(i)
    print(x)
    frequency_list.append(x)
pprint.pprint(frequency_list)

Counter({'hello': 1, 'how': 1, 'are': 1, 'you': 1})
Counter({'win': 2, 'money': 1, 'from': 1, 'home.': 1})
Counter({'call': 1, 'me': 1, 'now.': 1})
Counter({'hello': 2, 'call': 1, 'you': 1, 'tomorrow': 1})
[Counter({'hello': 1, 'how': 1, 'are': 1, 'you': 1}),
 Counter({'win': 2, 'money': 1, 'from': 1, 'home.': 1}),
 Counter({'call': 1, 'me': 1, 'now.': 1}),
 Counter({'hello': 2, 'call': 1, 'you': 1, 'tomorrow': 1})]

In [ ]:
# Now conducting with Sci-Kit Learn built in functions

In [11]:
# help(CountVectorizer)

In [251]:
# help(CountVectorizer.fit_transform)

Help on function fit_transform in module sklearn.feature_extraction.text:

fit_transform(self, raw_documents, y=None)
    Learn the vocabulary dictionary and return term-document matrix.

    This is equivalent to fit followed by transform, but more efficiently
    implemented.

    Parameters
    ----------
    raw_documents : iterable
        An iterable which yields either str, unicode or file objects.

    Returns
    -------
    X : array, [n_samples, n_features]
        Document-term matrix.

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer(
    stop_words='english'
)
X = count_vector.fit(documents)

In [272]:
print(count_vector)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [266]:
documents

['Hello, how are you!',
 'Win money, win from home.',
 'Call me now.',
 'Hello, Call hello you tomorrow?']

In [274]:
doc_names = count_vector.fit(documents).get_feature_names()
doc_names

['hello', 'home', 'money', 'tomorrow', 'win']

In [278]:
doc_array = count_vector.transform(documents).toarray()
doc_array

array([[1, 0, 0, 0, 0],
       [0, 1, 1, 0, 2],
       [0, 0, 0, 0, 0],
       [2, 0, 0, 1, 0]])

In [280]:
frequency_matrix = pd.DataFrame(data = doc_array,columns=doc_names)
frequency_matrix

   hello  home  money  tomorrow  win
0      1     0      0         0    0
1      0     1      1         0    2
2      0     0      0         0    0
3      2     0      0         1    0

In [307]:
X_train.head(5)

710     4mths half price Orange line rental & latest c...
3740                           Did you stitch his trouser
2711    Hope you enjoyed your new content. text stop t...
3155    Not heard from U4 a while. Call 4 rude chat pr...
3748    Ü neva tell me how i noe... I'm not at home in...
Name: sms_message, dtype: object

In [122]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data_in['sms_message'], 
                                                    data_in['label'], 
                                                    random_state=1)

print('Number of rows in the total set: {}'.format(data_in.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))
print('Train fraction is : ',X_train.shape[0] / data_in.shape[0])
print('\nX_train looks like :\n',X_train.head(4))
print('\ny_train looks like :\n',y_train.head(4))

Number of rows in the total set: 5572
Number of rows in the training set: 4179
Number of rows in the test set: 1393
Train fraction is :  0.75

X_train looks like :
 710     4mths half price Orange line rental & latest c...
3740                           Did you stitch his trouser
2711    Hope you enjoyed your new content. text stop t...
3155    Not heard from U4 a while. Call 4 rude chat pr...
Name: sms_message, dtype: object

y_train looks like :
 710     1
3740    0
2711    1
3155    1
Name: label, dtype: int64

In [ ]:

###--- Create frequency for training dataset

In [109]:
count_vector = CountVectorizer()

In [186]:
# np.where(np.array(dat_train_names) == 'win')[0][0]

7230

In [177]:
# np.argwhere(dat_train_names[0:3] == '008704050406')

array([], shape=(0, 0), dtype=int64)

In [167]:
dat_train_names = count_vector.fit(X_train).get_feature_names()
# dat_test_names

In [111]:
dat_train_array = count_vector.transform(X_train).toarray()
# dat_train_array

In [112]:
freq_train_matrix = pd.DataFrame(data = dat_train_array,columns=dat_train_names)
# freq_train_matrix

In [113]:

###--- Create frequency for training dataset

In [114]:
count_vector = CountVectorizer()

In [115]:
dat_test_names = count_vector.fit(X_test).get_feature_names()
# dat_test_names

In [116]:
dat_test_array = count_vector.transform(X_test).toarray()
# dat_test_array

In [117]:
freq_test_matrix = pd.DataFrame(data = dat_test_array,columns=dat_test_names)
# freq_test_matrix

In [126]:
training_data = count_vector.fit_transform(X_train)
# print(training_data)

In [124]:
testing_data = count_vector.transform(X_test)
# print(testing_data)

In [120]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
# naive_bayes.fit()

In [127]:
naive_bayes.fit(training_data,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [240]:
naive_bayes.predict(testing_data)

array([0, 0, 0, ..., 0, 1, 0])

In [241]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [247]:
# help(f1_score)

In [244]:
print('Accuracy score: ', format(accuracy_score(y_test,naive_bayes.predict(testing_data))))
print('Precision score: ', format(precision_score(y_test,naive_bayes.predict(testing_data))))
print('Recall score: ', format(recall_score(y_test,naive_bayes.predict(testing_data))))
print('F1 score: ', format(f1_score(y_test,naive_bayes.predict(testing_data))))

Accuracy score:  0.9885139985642498
Precision score:  0.9720670391061452
Recall score:  0.9405405405405406
F1 score:  0.9560439560439562

In [236]:
# print(np.array(training_data[1]))

In [237]:
# A = training_data[1]
# print(A)

In [238]:
# Recompile simple example
# print(dat_train_names[2222])
# print(dat_train_names[7420])
# print(dat_train_names[6218])
# print(dat_train_names[3316])
# print(dat_train_names[6758])

In [188]:
# help(MultinomialNB)

In [187]:
np.where(np.array(dat_train_names) == 'win')[0][0]

7230