**Test ball tree**

In [117]:
import numpy as np
import pandas as pd
import string
import sklearn as skl

In [69]:
n_tes = 10
n_ref = 10

In [113]:
pd_tes = pd.DataFrame({'lon' : np.array(np.random.rand(n_test)),
                       'lat' : np.array(np.random.rand(n_test))})
pd_tes['indx'] = pd_tes.index + 1

In [130]:
pd_ref = pd.DataFrame({'lon' : np.array(np.random.rand(n_ref)),
                       'lat' : np.array(np.random.rand(n_ref))})
# pd_ref['indx'] = pd_ref.index + 1
# pd_ref['ref']  = [str(pd_ref.indx[i]+1).zfill(6) for i in range(0,len(pd_ref.indx))
# pd_ref['ref2'] = str(pd_ref.indx+1)
# pd_ref['Reference'] = string.ascii_lowercase[pd_test.index] + str(pd_tes.index + 1).zfill(6)
# pd_ref['Reference'] = str(string.ascii_lowercase)[pd_tes.index]"

In [131]:
# pd_ref

In [132]:
skl.neighbors.ball_tree

In [133]:
tree = skl.neighbors.BallTree(pd_ref, leaf_size=2)

In [134]:
tree

In [135]:
dist, ind = tree.query(pd_ref[:5], k=2)

In [167]:
dist, ind = tree.query(pd_ref[3:4], k=1)

In [169]:
tree.query(pd_ref[3:4], k=2)

(array([[0.        , 0.22080845]]), array([[3, 9]]))

In [166]:
ind[0,1]

9

In [136]:
dist

array([[0.        , 0.19250321],
       [0.        , 0.13891391],
       [0.        , 0.13891391],
       [0.        , 0.22080845],
       [0.        , 0.1273915 ]])

In [137]:
ind

array([[0, 1],
       [1, 2],
       [2, 1],
       [3, 9],
       [4, 6]])

In [160]:
pd_ref[3:4]

        lon       lat
3  0.584272  0.000896

In [150]:
pd_ref.isel[3]

AttributeError: 'DataFrame' object has no attribute 'isel'

In [148]:
pd_ref[:3]

        lon       lat
0  0.995164  0.345144
1  0.845063  0.224616
2  0.707659  0.204190

In [140]:
pd_ref

        lon       lat
0  0.995164  0.345144
1  0.845063  0.224616
2  0.707659  0.204190
3  0.584272  0.000896
4  0.777522  0.726814
5  0.623082  0.472581
6  0.650577  0.737474
7  0.390837  0.994941
8  0.712517  0.513272
9  0.430543  0.159400