In [ ]:
What is the entropy for a bucket with a ratio of four red balls to ten blue balls? 
Input your answer to at least three decimal places.

In [4]:
import numpy as np
import math as math
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
math.log(1,2)

0.0

In [1]:
m = 4
n = 10

In [9]:
Ans = - m/(m+n)*math.log(m/(m+n),2) - n/(m+n)*math.log(n/(m+n),2)

In [10]:
Ans

0.863120568566631

In [11]:
p1 = 8 / (8+3+2)
p2 = 3 / (8+3+2)
p3 = 2 / (8+3+2)

In [12]:
Ans2 = -p1*math.log(p1,2)  - p2*math.log(p2,2)  - p3*math.log(p3,2)

In [13]:
Ans2

1.3346791410515946

In [2]:
data = pd.read_csv('/Users/Administrator/Documents/Work/pylearn/Entropy/ml-bugs.csv')

In [3]:
data

   Species  Color  Length (mm)
0    Mobug  Brown         11.6
1    Mobug   Blue         16.3
2    Lobug   Blue         15.1
3    Lobug  Green         23.7
4    Lobug   Blue         18.4
5    Lobug  Brown         17.1
6    Mobug  Brown         15.7
7    Lobug  Green         18.6
8    Lobug   Blue         22.9
9    Lobug   Blue         21.0
10   Lobug   Blue         20.5
11   Mobug  Green         21.2
12   Mobug  Brown         13.8
13   Lobug   Blue         14.5
14   Lobug  Green         24.8
15   Mobug  Brown         18.2
16   Lobug  Green         17.9
17   Lobug  Green         22.7
18   Mobug  Green         19.9
19   Mobug   Blue         14.6
20   Mobug   Blue         19.2
21   Lobug  Brown         14.1
22   Lobug  Green         18.8
23   Mobug   Blue         13.1

In [7]:
data['Length (mm)']

0     11.6
1     16.3
2     15.1
3     23.7
4     18.4
5     17.1
6     15.7
7     18.6
8     22.9
9     21.0
10    20.5
11    21.2
12    13.8
13    14.5
14    24.8
15    18.2
16    17.9
17    22.7
18    19.9
19    14.6
20    19.2
21    14.1
22    18.8
23    13.1
Name: Length (mm), dtype: float64

In [6]:
plt(data['Length (mm)'])

TypeError: 'module' object is not callable